<style>
  a { color: #2D3452 !important; }
  a:hover { color: #B5730E !important; }

.greedy-nav a, .masthead a, .masthead__inner-wrap a, nav a { color: #2D3452 !important; }
.greedy-nav a:hover, .masthead a:hover, nav a:hover { color: #B5730E !important; }
.sidebar a, .sidebar a *, .author__urls a, .author__urls a *, .author__urls-wrapper a, .author__urls-wrapper a * { color: #2D3452 !important; }
.btn--primary, .btn--primary:visited { background-color: #B5730E; color: #241804; }
.btn--primary:hover { background-color: #96610b; color: #241804; }
aside a, aside a *, .sidebar a, .side
</style>
